.word-wrap {
    word-break: break-word;
}

.tableFixHead { 
    overflow: auto;
    height: 52vh; 
}

.tableFixHead thead th { 
    position: sticky; top: 0; z-index: 1; 
}

BTable  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.bestellung-inputfield-size {
    width: 200px;
 }

.brotbestellung-inputfield-size {
    width: 200px;
}

.frischEinkauf-inputfield-size {
    width: 150px;
}
.lagerEinkauf-size {
    width: 150px;
}
 #aktuelleBrotBestellmenge {
    width: 200px;
}
@media (max-width: 1100px)  {
    .bestellung-inputfield-size {
    width: 170px;
    }
    .brotbestellung-inputfield-size {
        width: 170px;
    }
    .einkauf-inputfield-size {
        width: 100px;
    }
}

@media (max-width: 1000px)  {
    #aktuelleBrotBestellmenge {
        width: 115px;
    }
}